{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>task manager</title>
  <link rel="stylesheet" href="{% static "css/index.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "node_modules/medium-editor/dist/css/medium-editor.min.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "node_modules/medium-editor/dist/css/themes/bootstrap.min.css" %}" type="text/css">

  <script src="{% static "node_modules/medium-editor/dist/js/medium-editor.min.js" %}"></script>
  <script src="{% static "node_modules/angular2/bundles/angular2-polyfills.min.js" %}"></script>

  <script src="{% static "node_modules/systemjs/dist/system.js" %}"></script>
  <script src="{% static "node_modules/rxjs/bundles/Rx.min.js" %}"></script>
  <script src="{% static "node_modules/angular2/bundles/angular2.dev.js" %}"></script>
  <script src="{% static "node_modules/angular2/bundles/router.dev.js" %}"></script>
  <script src="{% static "node_modules/angular2/bundles/http.min.js" %}"></script>
  <script src="{% static "node_modules/ng2-bootstrap/bundles/ng2-bootstrap.js" %}"></script>
  <script>
    var APP_PACKAGE_PATH = '{% static "src" %}';
    var BASE_URL = '/api';
    System.config({
      map:{
        app: '{% static "src/app" %}',
        moment: '{% static "node_modules/moment/moment.js" %}'
      },
      packages: {
        'app': {
          main:'./main',
          defaultExtension: 'js'
        }
      }
    });
    System.import('app');
  </script>
</head>
<body>
  <app>Loading...</app>
</body>
</html>